<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if is_admin?%>
    <div class="field">
      <%= form.label :name %><br />
      <%= form.text_field :name, autofocus: true,value:  @is_new ? "" : student.user.name, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= form.label :email %><br />
      <%= form.email_field :email, value: @is_new ? "" : student.user.email, autocomplete: "email" %>
    </div>
  <%end%>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :major %>
    <%= form.text_field :major %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
