<%= form_with(model: enrollment) do |form| %>
  <% if enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
        <% enrollment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :student_id %>
    <%= form.select :student_id, options_for_select(Student.all.map{|stu| [stu.user.name, stu.id]}) ,{}, {include_blank: false, class:"form-control"}%>
  </div>

  <div class="form-group">
    <%= form.label :course_id %>
    <% if @course_id_enroll  %>
      <%= form.text_field :course_id, value: @course_id_enroll, readonly: true, class:"form-control"%>
    <% else %>
          <%= form.select :course_id, options_for_select(Course.all.map{|c| [c.name, c.id]}) ,{}, {include_blank: false, class:"form-control"}%>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
