<p id="notice"><%= notice %></p>

<h1>Enrollments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Student</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.student.user.name %></td>
        <td><%= enrollment.course.name %></td>
        <td><%= link_to 'Drop Enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure to drop the course?' } , class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if !is_student? %>
<%= link_to 'New Enrollment', new_enrollment_path , class: 'btn btn-primary' %>
<%end%>
