<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Instructor name:</strong>
  <%= @course.instructor.user.name %>
</p>

<p>
  <strong>Weekday one:</strong>
  <%= @course.weekday_one %>
</p>

<p>
  <strong>Weekday two:</strong>
  <%= @course.weekday_two %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @course.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @course.end_time %>
</p>

<p>
  <strong>Course code:</strong>
  <%= @course.course_code %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @course.capacity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<p>
  <strong>Room:</strong>
  <%= @course.room %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor_id %>
</p>


<%= link_to 'Enrolled Students', enrolled_students_path(@course) %> |
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
